<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Middleman Otwarte Klatki starter</title>

    <%= stylesheet_link_tag "bootstrapcss.bundle" %>
    <%= stylesheet_link_tag "main.bundle" %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag "main.bundle" %>
  </body>
</html>
