<div class="container pt-5">
  <h1>Middleman Otwarte Klatki starter</h1>

  <ul>
    <li>Middleman 4</li>
    <li>middleman-livereload</li>
    <li>Bootstrap 4.0.0-beta</li>
    <li>Webpack</li>
    <li>PostCSS</li>
    <li>Autoprefixer</li>
  </ul>
</div>
